# URL de la DB para desarrollo local apuntando a PostgreSQL de forma local
DATABASE_URL="postgresql://db_user:db_password@localhost:5432/chatdb?schema=public"

# En Docker se sobreescribe con el nombre del servicio (chat_db)

# OpenAI API Key para LangGraph y LangChain
OPENAI_API_KEY="sk-tu-api-key"

PORT=3000
